body,
html {
    background-color: rgb(58, 58, 58);
  height: 100%;
  margin: 0;
}

.mainContainer{
    margin: 0;
    text-align: center;
    height: 100%;
    padding: 1px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1.5fr) repeat(1, 5fr);
    gap: 2px;
}

.mainContainer div{
    border: 1px black solid;
    background-color: aquamarine;
}
/* sidebar stuff ----------------------------------------------*/

.sidebar{
    height: inherit;
    padding: inherit;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 5fr ;
    gap: 15px;
}

/* Brand stuff ---------------------------------------*/

.brand{
    display: flex;
}

/* End of brand stuff ---------------------------------------------*/

/* Menu stuf -------------------------------------------*/

.menu{
    display: flex;
    flex-direction: column;
}
.menu div{
    display: flex;
    align-items: center;
    text-align: start;
}
#settings{
    margin-top: 35px;
}


.menuitem{
    margin-left: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: start;

}

/* End of menu stuff -------------------------*/

/* Header stuff ---------------------------------*/
.mainarea{
    display: grid;
    grid-template-rows: 2fr 8fr;
}
header{
    background-color: blue;
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 1fr 2fr;
}
/* Отсюда дальше продолжай, остановился на разделении элементов хэдэра*/
.headertop{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 1fr 2fr;
}

.searchbardiv{
    align-items: center;
    display: flex;
}

#searchbar{
    margin-right: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: rgb(107, 194, 165);
    border: 0.5px rgba(255, 255, 255, 0.288) solid;
    flex-grow: 1;
}
.notifications{
    margin: auto;
}
.userbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerbot{
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr); 

}
#userid{
    align-items: center;
    display: flex;
    align-content: flex-start;
    text-align: start;
}

.headerbot p{
    margin: 5px;
}
/* End of the header thing --------------------------------*/

main{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
h4{
    text-align: start;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#projectlist{
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.rightsidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.rightsidebar div{
    flex-grow: 1;
}
