@font-face {
    font-family: Main;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Main;
}

.pfp{
    transition: 1s;
    box-shadow: 2px 2px 10px white;
    border: white 1px solid;
}
.pfp:hover{
    cursor: pointer;
    transform: scale(1.10);
    box-shadow: 1px 1px 10px #CD9FCC;
}


.mainContainer{
    margin: 0;
    text-align: center;
    height: 100%;
    padding: 1px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  1fr 5fr;
}

/* sidebar stuff ----------------------------------------------*/

.sidebar{
    color: #F6CACA;
    background-color: #310A31;
    height: inherit;
    padding: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Brand stuff ---------------------------------------*/

.brand{
    gap: 8px;
    margin: 10px;
    display: flex;
}

/* End of brand stuff ---------------------------------------------*/

/* Menu stuf -------------------------------------------*/

.menu{
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu li :hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.menu li :active{
    transform: scale(0.98);
}

.menu li{
    height: 30px;
    display: flex;
    align-items: center;
    text-align: start;
}
#settings{
    margin-top: 35px;
}


.menuitem{
    margin-left: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: start;

}

/* End of menu stuff -------------------------*/

/* Header stuff ---------------------------------*/
.mainarea{
    background-color: #F6CACA;
    display: grid;
    grid-template-rows: 2fr 8fr;
}
header{
    background: rgb(49,10,49);
    background: linear-gradient(90deg, rgba(49,10,49,1) 0%, rgba(205,159,204,1) 46%);
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 1fr 2fr;
    border-bottom: #CD9FCC 2px solid;
}
/* Отсюда дальше продолжай, остановился на разделении элементов хэдэра*/
.headertop{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 1fr 2fr;
}

.searchbardiv{
    margin: 8px;
    align-items: center;
    display: flex;
}

#searchbar{
    margin-right: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: #F6CACA;
    border: 1px #CD9FCC solid;
    flex-grow: 1;
}
.notifications{
    margin: auto;
}
.notifications:hover{
    animation-name: jingle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes jingle {
    0% {transform: rotate(10deg)} 
    100% {transform: rotate(5deg);}
}


.userbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerbot{

    display: grid;
    grid-template-columns: 4fr 1fr; 

}
#userid{
    gap: 10px;
    color: #F6CACA;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 25px;
    align-items: center;
    display: flex;
    align-content: flex-start;
    text-align: start;
}

.headerbot p{
    margin: 5px;
}

.buttoncont{
    display: flex;
    justify-content: center;
}

.buttons{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.headerbot button{
    font-family: Main;
    background-color: #F6CACA;
    border: #3f123f 2px solid;
    border-radius: 15px;
    margin: auto;
    height: 45px;
    width: 65px;
}

.buttoncont :hover{
    cursor: pointer;
}

.buttoncont :active{
    transform: scale(0.90);
    box-shadow: 1px 1px 1px blueviolet;
}

/* End of the header thing --------------------------------*/

main{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
h3{
    text-align: start;
    margin: 5px;
}

.projectitem{
    text-align: start;
    border: 2px #B4A0E5 solid;
    border-radius: 10px;
    background-color: #CD9FCC;
    transition: 1s;
}


.projectitem p{
    padding: 5px
}

.projectitem:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 10px #B4A0E5;
}

#projectactions :hover{
    cursor: pointer;
}

#projectactions :active{
    transform: scale(0.90);
}

#projectlist{
    margin: 5px;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#projectlist .projectitem{
    border-left: 10px solid #310A31;
    margin-left: 5px;
}

.rightsidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#announcements{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.announcement{
    transition: 1s;
    border: 2px #B4A0E5 solid;
    border-radius: 10px;
    background-color: #CD9FCC;
    margin: 5px;
}

.announcement:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 10px #B4A0E5;
}

.announcement h5{
    text-align: start;
    margin: 5px;
}
.announcement p{
    text-align: start;
    margin: 5px;
}

.projectitem h4{
    margin: 5px;
    text-align: start;
}

#projectactions{
    margin: 5px;
    justify-content: flex-end;
    gap: 7px;
    display: flex;
    flex-direction: row;
}
#projectactions img{
    height: 25px;
    width: 25px;
}

#trending{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trendingacc{
    transition: 1s;
    border: 2px #B4A0E5 solid;
    border-radius: 10px;
    background-color: #CD9FCC;
    margin: 5px;
    display: flex;
}
.trendingacc:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 10px #B4A0E5;
}
.trendingacc img{
    border-radius: 25px;
    margin: 10px;
    height: 25px;
    width: 25px;
}

.trendingacc img:hover{
    cursor: pointer;
}

.trendinfo{
    display: flex;
    flex-direction: column;
}
.trendinguserid{
    text-align: start;
}
.trendinfo p{
    justify-content: flex-start;
    margin: 2px;
}

footer{
    background-color: rgba(128, 128, 128, 0.575);
    width: 100%;
}